*,*:after. *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sining: border-box;
    -moz-box-sinzing: border-box;
    box-sizing: border-box;
}
#contenedor_carga{
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border: 2px solid #6C6867;
    border-top-color:#FFFF;
    border-top-style: ridge;
    height: 40px;
    width: 40px;
    border-radius:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    -animation: girar 1.5s linear infinite;
}
@keyframes girar
{
    form{transform: rotate(0deg);}
    to{transform:rotate(360deg);}

}
