*{
    padding: 0px;
    margin: 0px;
    
}
body{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    background: rgb(227, 227, 230);
}
.VolverJuridica{
    display: none;
}
.VolverAceptados{
    display: none;
}
.VolverRechazados{
    display: none;
}
.btn_buscar{
    background: #76C35E;
    border: none;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    color:white;
    transition: .1s;
}
.btn_buscar:hover{
    background: #457c35;
}
/* .FormVolver{
    display: none;
}

.VolverAceptados{
    display: none;
}
.FormVolverAceptados{
    display: none;
} */
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 100px;
  }


  .centrarMelo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tituloConsultasToken{
    margin: 8px;
    padding: 10px 0px 20px  0px;
    display: inline-flex;
}

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4e4e4e;
  } 