
.accordion {
    background-color: rgb(226, 12, 12);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0px 10px 0px 10px;
    border-color: red;
    background: red;
  }
  
  .active, .accordion:hover {
    border-color: rgb(148, 26, 26);
    background: rgb(212, 19, 19); 
    
  }
  
  .panel {
      margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    display: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
  }
  .TextTarea{
      border: solid 1px rgb(255, 255, 255) ;
      border-radius: 5px;
  }
  .btonEnviar{
      margin-top: 5px;
      border: solid 1px rgb(194, 194, 196);
      border-radius: 5px;
      padding: 10px;
  }
 /* form */

 
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 200px;
	width: 70%;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.checkbox{
	padding-top: 30px;
	padding-bottom: 30px;
}
.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 42px;
	line-height: 45px;
	width: 30%;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.btonEnviar1{
	background: #17309C;
}
.titulomodal{
	color :#17309C;
}
.colorHeaderModal{
	background: rgb(0,52,103); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(0,52,103,1) 0%, rgba(52,151,218,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(0,52,103,1) 0%,rgba(52,151,218,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(0,52,103,1) 0%,rgba(52,151,218,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003467', endColorstr='#3497da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
/* Reload */

.loader{
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	min-height: 100%;
	display: none;
	position: absolute;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
	z-index: 99;

}

.loader.active {
  display: block;
}
#carga{
    border: 7px solid #0e0eb2;
    border-top-color: #97979700;
    border-top-style: ridge;
    height: 60px;
    width: 60px;
    border-radius:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    -animation: girar 1.5s linear infinite;

}
@keyframes girar
{
    form{transform: rotate(0deg);}
    to{transform:rotate(360deg);}

}
